
body {
    background-color: $background-color;
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: $font-family;
}

.container {
    width: 90%;
    max-width: 330px;
    border-radius: 15px;
    overflow: hidden;
    background-color: $container--background-color;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        padding: 20px 0;
        font-size: 1.4rem;
        color: $dark--text-color;    
        font-weight: 900;
    }
    
    p{
        width:80%;
        color: $text-color;
        text-align: center;
    }
}

@media (min-width: 380px) {
    body {
        background-image: url('../images/pattern-background-desktop.svg');
        background-size: contain;
    }
    
}