$background-color: hsl(225, 100%, 94%);
$button--background-color: hsl(245, 75%, 52%);
$card--background-color: hsl(225, 100%, 98%);



$text-color: hsl(224, 23%, 55%);
$dark--text-color: hsl(223, 47%, 23%);
$Font-size: 16px;
$font: 'Red Hat Display', sans-serif;




$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
