$background-color: hsl(225, 100%, 94%);
$button--background-color: hsl(245, 75%, 52%);
$hover--background-color: hsla(245, 75%, 52%, 0.7);
$card--background-color: hsl(225, 100%, 98%);
$container--background-color: hsl(225, 100%, 100%);
$box--shadow-color: hsla(245, 75%, 52%, 0.3);
$text-color: hsl(224, 23%, 55%);
$dark--text-color: hsl(223, 47%, 23%);
$font-size: 16px;
$font-family: 'Red Hat Display', sans-serif;

